{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center jumbotron jumbo1">            
            <h3>{{title}}</h3>
            <a href="/logout"><button class="btn btn-primary">Log out</button></a>
        </div>
        <div class="col-xs-12 col-md-6">
            {{ wtf.quick_form(task_form) }}
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="row">
                {%if task %}                
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <h4><u>Task</u></h4>
                            <h5 class="card-title">{{task.task_title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Start time: {{task.task_start_time.strftime("%I:%M %p")}} | Duration: {{task.task_duration}} mins</h6>                            
                            <p class="card-text">{{task.task_description}}</p> 
                            <h4><u>Break</u></h4> 
                            <h6 class="card-subtitle mb-2 text-muted">Start time: {{task_endtime.strftime("%I:%M %p")}} | Duration: {{task.break_duration}} mins</h6>  
                            <p class="card-text">{{task.break_description}}</p>                            
                        </div>
                    </div>
                </div>
                {% endif %}              

            </div>
        </div>
    </div>
</div>

{% endblock %}